@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #ffad33;
  padding-bottom: 5rem;
}

/* Styling for main container */

#container {
    background: #fff;
    margin: 8rem auto 0;
    border-radius: 2rem;
    padding: 4rem;
    width: 85%;
    max-width: 100rem;
}

/* Styling for Quiz header */

#container h1 {
    color: #2C0A0A;
    font-size: 4rem;
    font-weight: bolder;
    border: 0.5rem solid black;
    border-radius: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }

/*Add styling for the navigation*/

#navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 50rem;
    height: 100%;
    margin: 10rem auto 0;
  }

  /* Add styling for Question Number */

  #navigate h2 {
    background-color: #ffad33;
    border-radius: 2rem;
    padding: 1.5rem;
    color: #2C0A0A;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  /* Add display flex to the question-number-container and style this to enable the question number count appear in two rows */

  #question-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #question-number-container.hide {
    display: none;
  }

  /* Add styling for the score */

  #navigate #score {
    background-color: #ffad33;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    cursor: default;
  
  }

  /* Add styling for the 'Play Again' button */

  #navigate #play {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    border: 0.5rem solid black;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    color: #2C0A0A;
    padding: 1rem;
  }

  #navigate #play:hover {
    background-color: #d2fbd0;
    transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  /*Add styling for the start quiz button */

  #navigate #start-icon {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    border: 0.5rem solid black;
    border-radius: 2rem;
    cursor: pointer;
    color: #2C0A0A;
    padding: 1rem;
  }

  #start-icon:hover {
    background-color: #d2fbd0;
    transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

/* Styling for the Q&A container */

  #quiz {
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  /* Prevent quiz container from displaying before the game starts and after the game ends */
  
  #quiz.hide {
    display: none;
}

  /* Styling for quiz questions */

#quiz #question {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Styling for the choice buttons container */

#option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }

  /* Add styling for the choice buttons */

.btn {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    border: 0.5rem dotted black;
  }

/* Add styling for the hide class which will also be used in the Javascript */

.hide {
    display: none;
  }

  /* Styling for the Sweet Alert API which displays alerts when a question is answered */

  .swal2-title {
    font-size: 2rem !important;
  }

  .swal2-actions {
    font-size: 2rem;
  }

  #swal2-html-container {
    color: green;
    font-size: 2rem;
  }

  /* Media query for 450px and below */

  @media screen and (max-width: 450px) {

    #navigate {
        width: 70%;
    }

    #container h1 {
        font-size: 3.8rem;
    }

    #navigate h2 {
        font-size: 2.8rem;
    }

    #quiz {
        display: grid;
        justify-content: center;
        margin-top: 2rem;
    }

    #quiz #question {
        font-size: 1.9rem;
        text-align: center;
      }

    .btn {
        padding: 1rem;
      }
      
  }

  /* Media query for 400px and below, to reduce the Sweet Alert pop-up box and its contents*/

  @media screen and (max-width: 400px) {
    .swal2-title {
        font-size: 1.7rem !important;
      }
    
      .swal2-actions {
        font-size: 1.7rem;
      }
    
      #swal2-html-container {
        color: green;
        font-size: 1.7rem;
      }

      .swal2-popup {
        width: 25rem !important;
      }
    

  }

  /* Media query for 350px and below */

  @media screen and (max-width: 350px) {
    #container h1 {
        font-size: 3.5rem;
    }

    #navigate h2 {
        font-size: 2.5rem;
    }

    #quiz #question {
        font-size: 1.8rem;
        text-align: center;
      }

      .btn {
        font-size: 1.5rem;
      }
  }