@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #ffad33;
}

#container {
    background: #fff;
    margin: 12rem auto 0;
    border-radius: 2rem;
    padding: 4rem;
    width: 85%;
    max-width: 100rem;
}

#container h1 {
    color: #850000;
    font-size: 4rem;
    font-weight: bolder;
    border: 0.5rem solid black;
    border-radius: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  #container h2 {
    color: black;
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
  }

/*Add styling for the navigate div */

#navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 50rem;
    height: 100%;
    margin: 10rem auto 0;
  }

  /* Add styling for the score div */

  #navigate #score {
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    color: black;
    margin-bottom: 2rem;
  }

  /* Add styling for the 'Play Again' button */

  #navigate #play {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    border: 0.5rem solid black;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    color: #850000;
  }

  #navigate #play:hover {
    background-color: #d2fbd0;
    transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  /*Add styling for the start quiz button */

  #navigate #start-icon {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    border: 0.5rem solid black;
    border-radius: 2rem;
    cursor: pointer;
    color: #850000;
  }

  #start-icon:hover {
    background-color: #d2fbd0;
    transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

  #quiz {
    background-color: #fff;
    border-radius: 2rem;
    padding: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

#quiz #question {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  font-weight: bold;
}

#option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }

  /* Add styling for the choice buttons */

.btn {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.2);
  }

/* Add styling for the hide class which will also be used in the Javascript */

.hide {
    display: none;
  }

  .swal2-title {
    font-size: 2rem !important;
  }

  .swal2-actions {
    font-size: 2rem;
  }

  #swal2-html-container {
    color: green;
    font-size: 2rem;
  }