@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
}

#container {
    background: #fff;
    margin: 12rem auto 0;
    border-radius: 2rem;
    padding: 4rem;
    width: 85%;
    max-width: 100rem;
}

#container h1 {
    font-size: 4rem;
    border: 0.5rem solid black;
    border-radius: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

#quiz #question {
    font-size: 2.5rem;
    font-weight: 500;
}

#option {
    padding: 2.5rem 0;
}

.btn {
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}